@media only screen and (max-width: 540px) {

    body{
      background-image: url('/assets/login_BG.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    .gridLayout {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  margin-top:1rem
}
    
    .manage{
      cursor: pointer;
      text-align: center;
      width: 7.5rem;
    }
    .img{
      width:70px;
    }

    p{
      width: 7.5rem;
      
    }
  
  }