/* styles.css */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  
  /* .logo {
    height: 50px;
    width: auto;
  }
  
  .menu {
    display: flex;
    gap: 1rem;
    list-style: none;
  }
  
  button {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: #eee;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddd;
  }
   */

   @media only screen and (max-width: 540px) {
    mat-card{
        margin: 2em auto;
        width: 80%;
    }
    button{
        background-color: white;
        border-color:white;
        height: 50px;
        font-size: 16px;
        font-weight: 700;
       
    }
    button:hover{
        background-color: #ff3c00;
        color: white;
        border-color: #ff3c00;


    }
   }
   