<nav> 
    <mat-icon  (click)="onClick()">arrow_back</mat-icon>
    <p class="nav-content">Start your savings</p>
    
</nav>
<span >&#8358;{{ this.totalBalance }}</span>
<p> Select a savings goal</p>
<div class="content">
    <mat-card>
    
        <button (click)="onAccomodation()">Accomodation</button>
    
    </mat-card>
    
    <mat-card>
    
        <button (click)="onBusiness()">Business</button>
    
    </mat-card>
    <mat-card>
        
        <button (click)="onEmergency()">Emergency</button>
    
    </mat-card>
    
    <mat-card>
    
        <button (click)="onOthers()">Others</button>
    
    </mat-card>
</div>
