  <div class="main">
    <nav> 
    <mat-icon  (click)="onClick()">arrow_back</mat-icon>
    <p class="nav-content">{{savings}} </p>
</nav>

  <main>
    <div class="container">
    
      <h1 class="text-center">Save for your dream home</h1>
      <form (ngSubmit)="onSubmit()" class="form" >

        <div class="form-group">
          <label for="inputNumber">Enter an amount greater than &#8358; 1000:</label>
          <input class="selectAll" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="targetAmount" placeholder="Enter Target Balance" name="targetAmount" required min="1001" max="999999" (change)="checkInputNumber()" (input)="onTargetAmount()">
          <div *ngIf="errorMessage">{{errorMessage}}</div>
        </div>

        <div class="form-group">
          <label for="percentage">Select a percentage to save</label><br/>
          <select (change)="onOptionSelected($event)" class="form-control selectAll" id="percentage" name="percentage" required>
            <option *ngFor="let percentage of percentages" [value]="percentage">{{ percentage }}%</option>
          </select>
          
          <div>&#8358;{{ amountSaved }}</div>



          
        </div>
        <div class="form-group">
          <label for="frequency">Select a frequency</label><br/>
          <select class="form-control selectAll" id="frequency" name="frequency"  required>
            <option *ngFor="let frequency of frequencies" [value]="frequency">{{ frequency }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="startDate">Start Date</label><br/>
          <input type="date" class="form-control selectAll" id="startDate" name="startDate" required>
        </div>
        <div class="form-group">
          <label for="endDate">End Date</label><br/>
          <input [(ngModel)]="endDate" type="date" class="form-control selectAll" id="endDate" name="endDate" required>
        
        </div>
        <div class="form-group form-check" style="display: flex;
    justify-content: center;">
            <input type="checkbox" class="form-check-input" id="termsAndConditions" name="termsAndConditions" [checked]="termsAndConditions" (change)="termsAndConditions = !termsAndConditions">
            <label class="form-check-label" for="termsAndConditions">I agree to the terms and conditions</label>
             </div>
             <p class="center">After creating this plan, you will be charged 5% of the amount you saved to make withdrawal.</p>
            <!-- <p class="error">Please accept terms and conditions first</p> -->
        <button type="submit" class="btn btn-primary" [disabled]="!termsAndConditions" style="background: #E66935; color: white; margin-top: 1rem; height: 50px; width:100%; font-weight: 600; font-size: 1.1rem;"
            mat-raised-button>Create Plan</button>
      </form>
    </div>
  </main>
  </div>
  
  
