  <div class="main">
    <nav> 
      <mat-icon  (click)="onClick()">arrow_back</mat-icon>
      <p class="nav-content">{{savings.header}} </p>
    </nav>
    <main class="container">
      <h3 class="title">{{savings.title}}</h3>
      <form (ngSubmit)="onSubmit()" class="form" >
        <div class="form-group">
          <label for="inputNumber">Enter an amount greater than &#8358; 1000:</label>
          <input class="form-control selectAll of" [ngModelOptions]="{ standalone: true }"  [(ngModel)]="targetAmount" placeholder="Enter Target Balance" name="targetAmount" required min="1001" max="99999999999999999"  (change)="checkInputNumber()" (input)="onTargetAmount()">
          <div *ngIf="errorMessage">{{errorMessage}}</div>
        </div>

        <div class="form-group">
          <label for="percentage">Select a percentage to save</label><br/>
          <select (change)="onOptionSelected($event)" class="form-control selectAll" id="percentage" name="percentage" required>
            <option *ngFor="let percentage of percentages" [value]="percentage">{{ percentage }}%</option>
          </select>
          
          <div>&#8358;{{ amountSaved }}</div>          
        </div>
        <div class="form-group">
          <label for="frequency">Select a frequency</label><br/>
          <select class="form-control selectAll" id="frequency" name="frequency"  required>
            <option *ngFor="let frequency of frequencies" [value]="frequency">{{ frequency }}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="startDate">Start Date</label><br/>
          <input type="date" class="form-control selectAll of" id="startDate" name="startDate" required>
        </div>
        <div class="form-group">
          <label for="endDate">End Date</label><br/>
          <input class="form-control selectAll of" [(ngModel)]="endDate" type="date"  id="endDate" name="endDate" required>
        
        </div>
        <div class="form-group form-check" style="display: flex;
    justify-content: center;">
            <input type="checkbox" class="form-check-input" id="termsAndConditions" name="termsAndConditions" [checked]="termsAndConditions" (change)="termsAndConditions = !termsAndConditions">
            <label class="form-check-label" for="termsAndConditions">I agree to the terms and conditions</label>
             </div>
             <div *ngIf="formValid">{{ formValid }}</div>
             <p class="center">After creating this plan, you will be charged 5% of the amount you saved to make withdrawal.</p>
            <!-- <p class="error">Please accept terms and conditions first</p> -->
        <button type="submit" class="btn btn-primary" [disabled]="!termsAndConditions" style="background: #dd4f05; color: white; margin-top: 1rem; height: 50px; width:100%; font-weight: 600; font-size: 1.1rem;"
            mat-raised-button>Create Plan</button>
            <ngx-spinner *ngIf="isLoading"></ngx-spinner>

    </form>
  </main>
  </div>
  
  
