/* styles.css */
header {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
  
  .logo {
    height: 50px;
    width: auto;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 1rem;
  }
  
  .text-center {
    text-align: center;
  }
  @media only screen and (max-width: 540px){
    nav{
      background-color: #ff3c00;
      color: white;
      display: flex;
      gap: 4rem;
      padding: 1rem;
    }
    p{
      text-align: center;
       font-size: 16px; 
       font-weight: 700; 
       font-size: 1.2rem;
       margin-bottom: 0;
    }
  }