
.dark-theme {
  background-color: #333;
  color: #fff;
}

body{
  height:100vh;

}
.card {
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    
  }
  /* mat-card{
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 300px;
    
    
    
} */

  header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 2rem;;
  
  }
  .login{
    color:#000000;
  }
  
  h1 {
    font-size: 48px;
    font-weight: 600;
  }
  .example-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 31rem;;
    padding: 2rem 1rem;
    border-radius: 10px;
    border: 2px solid #E6E6E6
  }
  .input1{
    padding-block-end: 2rem;
  }
  a {
    color: #dd4f05;
    font-size: 1rem;
    text-decoration: none;
    padding-block-end: 1rem;
  }
  button {
    align-self: center;
    font-weight: 500;
    font-size: 1.2rem;
    width:10rem;
    
    
  }
 

  
  span{
    color:#dd4f05;
  }
  
  @media only screen and (max-width: 540px) {
    img{
      margin-bottom: 20px;
    }
    .card{
      width:80%;
      margin-inline: auto;
      
    }
    .example-form{
      width:95%;
    }
    button{
      width: 100%;
    }
  
  }