<div>
  <body>
      <div *ngIf="loginError">
        <p>An error occurred while logging in. Please try again later.</p>
      </div>
      <div class="card">
        <header class="login-cont">
          <img src="../../assets/gtLogo.png" alt="Logo" />
          <h1 class="login">Log in</h1>
        </header>
        <form class="example-form" (ngSubmit)="onSubmit()">
          <mat-form-field class="example-full-width input1 ">
            <mat-label>Email</mat-label>
            <input
            #input_email
              matInput
              type="email"
         />
          </mat-form-field>
    
          <mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input
            #input_password
              matInput
              type="password"
              placeholder="Enter your password"
            />
            <button
              mat-icon-button
              matSuffix
              aria-label="Toggle password visibility"
              (click)="hidePassword = !hidePassword"
            >
              <mat-icon>
                {{ hidePassword ? 'visibility_off' : 'visibility' }}
              </mat-icon>
            </button>
          </mat-form-field>
          <a href="/forgot-password">Forgot password?</a>
          
          <p class="error-message" *ngIf="loginError">
            Invalid email or password!
          </p>

          <button
            style=" background: #dd4f05; color: white; margin-top: 1rem; height: 50px;"
            mat-raised-button
          >
            Login
          </button>
        </form>
      
          <p>Not registered? <span>Sign Up</span></p>
    
      </div>
    
    
  </body>
</div>

  