

    nav{
        background-color: #dd4f05;
        color: white;
        display: flex;
        gap: 4rem;
        padding: 1rem;
        align-items: center;
      }
    .nav-content{
       font-size: 16px; 
       font-weight: 700; 
       font-size: 1.2rem;
       margin: 0;
    }
     
      div{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin:2rem auto;
      };
    
