<nav>
  <mat-icon (click)="onClick()">arrow_back</mat-icon>
  <p class="nav-content">Track your Savings</p>
</nav>

<p class="Text">See how close you are to achieving your goal</p>
<div class="content">
  <div class="ImgText">
    <img src="../../assets/GTCO 2.svg" alt="HomeIcon" width="70px" />

    <div>

        <h3>Accomodation</h3>
  

        <div class="TargetBalance">
          <div class="Target">
            <p>Target</p>
            <p>#100,000.00</p>
          </div>
      
          <div class="Balance">
            <p>Balance</p>
      
            <p>#50,000.00</p>
          </div>
        </div>

    </div>

   
</div>

  <br />
  <br />

  <div class="">
    <p>Amount Saved</p>
    <p>#50,000.00</p>

    <p>Interest Earned</p>
    <p>#5,000.00</p>
  </div>
</div>
