   nav{
      background-color: #dd4f05;
      color: white;
      display: flex;
      gap: 4rem;
      padding: 0.8rem;
       align-items: center;
   }
  .text{
    text-align: center;
  }
  nav>p{
         font-size: 16px; 
         font-weight: 700; 
         font-size: 1.2rem;
         margin: 0;
 } 
 .Charges {
      color: #dd4f05;
    text-align: center;
  }
  .AmountSaved {
    display: flex;
    justify-content: space-between;
  }
    .ImgText{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: #dd4f05;
        border-radius:  10px;
        width:86%;
        margin: 2rem auto;
        color: white;
        justify-content: space-between;
      
    };
    .text{
      font-size: 20px;
      width: 90%;
      margin: 1rem auto;
    }
    h2{
      text-align: center;
      margin: 0.5rem 0 1rem 0.5rem;
    }
    h3{
      margin: 0;
    }
    .endDateTime{
      display: flex;
      flex-direction: column;
       justify-content: center;
          width: 90%;
    margin: 0 auto;
    }
    .part{
      display:grid;
          grid-template-columns: auto auto auto;
  };
  .form-check{
    width:90%;
    margin: 0 auto;
  }
  .popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 0.5rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
}

.popup p {
  margin-bottom: 0.5rem;
}

.popup button {
  background-color: #dd4f05;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
span{
  color:#dd4f05

}
.button{
  display: flex;
  gap:0.5rem;
}

  @media only screen and (max-width: 540px) {
}