<nav>
  <mat-icon (click)="onClick()">arrow_back</mat-icon>
  <p class="nav-content">Track your Savings</p>
</nav>

<p class="text">See how close you are to achieving your goal</p>
<div class="content">
  <div class="ImgText">
    <!-- <img  src="../../assets/GTCO 2.svg" alt="HomeIcon" width="40px" />
     -->
      <h2>Accomodation</h2>
      <div class="part">
        <div class="Target">
          <h3>Target</h3>
          <p>&#8358;{{this.targetAmount}}</p>
        </div>
        <div class="Amount">
        <h3>Amount Saved</h3>
          <p>&#8358;{{this.amountSaved}}</p>
        </div>   
       <div class="Interest">
       <h3>Interest Earned</h3>
       <p>&#8358;{{this.interestEarned}}</p>
     </div>
      </div>
      </div>
   

  <div class="endDateTime">
    <p class="EndDate">{{this.endDate}}</p>

    <p class="Charges">You will be charged 5% of your Savings</p>

    <div
      class="form-group form-check"
      
    >
      <input
        type="checkbox"
        class="form-check-input"
        id="ProceedToCancelSavings"
        name="ProceedToCancelSavings"
        [checked]="ProceedToCancelSavings"
        (change)="ProceedToCancelSavings = !ProceedToCancelSavings"
      />
      <label class="form-check-label" for="ProceedToCancelSavings">
        Proceed</label
      >

      <button
        type="submit"
        class="btn btn-primary"
        [disabled]="!ProceedToCancelSavings"
        style="
          background: #dd4f05;
          color: white;
          margin-top: 1rem;
          height: 50px;
          width: 100%;
          font-weight:700;
          font-size: 1.2rem;
        "
        mat-raised-button
      >
        Withdraw Plan
      </button>
      <div>
      <p>Do you wish to <span (click)="openPopup()">cancel plan?</span></p>

<div class="popup" *ngIf="showPopup">
  <p>You will be charged 5% for cancelling.</p>
  <div class="button">
    <button (click)="cancelPlan()">Cancel Plan</button>
  <button (click)="exitPlan()">Exit</button>
  </div>
  
</div>
    </div>
  </div>
</div>
