header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.logo {
  height: 50px;
  width: auto;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 1rem;
}

.text-center {
  text-align: center;
}

@media only screen and (max-width: 540px) {

  nav {
    background-color: #e66935;
    color: white;
    display: flex;
    gap: 4rem;
    padding: 1rem;
  }

 nav>p{
         font-size: 16px; 
         font-weight: 700; 
         font-size: 1.2rem;
         margin: 0;
 } 
 /* h3 {
    text-align: center;
    font-size: 16px;
    font-weight: 100;
    font-size: 1.2rem;
    margin: 0;
    font-weight: 700; 
    font-size: 1.2rem;
  } */

  .Charges {
    color: #e66935;
    text-align: center;
  }
  .AmountSaved {
    display: flex;
    justify-content: space-between;
  }
    .ImgText{
        display: flex;
        flex-direction: column;
        padding: 1rem;
        background-color: #E66935;
        border-radius:  10px;
        width:86%;
        margin: 2rem auto;
        color: white;
        justify-content: space-between;
      
    } 
     /* .ImgText h2{} */

    nav{
      background-color: #E66935;
      color: white;
      display: flex;
      gap: 4rem;
      padding: 0.8rem;
      align-items: center;
    }
    .text{
      font-size: 20px;
      width: 90%;
      margin: 1rem auto;
    }
    h2{
      text-align: center;
      margin: 0.5rem 0 1rem 0.5rem;
    }
    h3{
      margin: 0;
    }
    .endDateTime{
      display: flex;
      flex-direction: column;
       justify-content: center;
          width: 90%;
    margin: 0 auto;
    }
    /* p{
      text-align: center;
       font-size: 16px; 
       font-size: 1.2rem;
       margin: 0;
    } */
    /* h3{
        text-align: center;
        font-weight: 600;
    } */
    .part{
      display:flex;
      gap:1rem;
  };
  .form-check{
    width:90%;
    margin: 0 auto;
  }
}